.columns {
  display: grid;
  position: relative;
  grid-template-columns:
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 0 rem(30);

  &__col {
    &--1 {
      grid-column: span 1;
    }

    &--2 {
      grid-column: span 2;
    }

    &--3 {
      grid-column: span 3;
    }

    &--4 {
      grid-column: span 4;
    }

    &--5 {
      grid-column: span 5;
    }

    &--6 {
      grid-column: span 6;
    }

    &--7 {
      grid-column: span 7;
    }

    &--8 {
      grid-column: span 8;
    }

    &--9 {
      grid-column: span 9;
    }

    &--10 {
      grid-column: span 10;
    }

    &--11 {
      grid-column: span 11;
    }

    &--12 {
      grid-column: span 12;
    }


    &--full {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--tab-1 {
      @include r(1200) {
        grid-column: span 1;
      }
    }
    &--tab-4 {
      @include r(1200) {
        grid-column: span 4;
      }
    }

    &--tab-6 {
      @include r(1200) {
        grid-column: span 6;
      }
    }

    &--tab-8 {
      @include r(1200) {
        grid-column: span 8;
      }
    }

    &--tab-10 {
      @include r(1200) {
        grid-column: span 10;
      }
    }

    &--tab-12 {
      @include r(1200) {
        grid-column: span 12;
      }
    }

    &--mob-2 {
      @include r(800) {
        grid-column: span 2;
      }
    }

    &--mob-4 {
      @include r(800) {
        grid-column: span 4;
      }
    }

    &--mob-6 {
      @include r(800) {
        grid-column: span 6;
      }
    }

    &--mob-8 {
      @include r(800) {
        grid-column: span 8;
      }
    }

    &--mob-10 {
      @include r(800) {
        grid-column: span 10;
      }
    }

    &--mob-12 {
      @include r(800) {
        grid-column: span 12;
      }
    }
  }
}
